[core]
	autocrlf = true
	excludesfile = C:\\Users\\Pantsmode\\Documents\\gitignore_global.txt
[user]
	name = Pantsmode
	email = mikkossalovaara@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
